@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(
  (
    // add your variables here like:
      font-family-primary: 'Lato',
    font-family-secondary: 'Raleway',
    color-primary-100: #c8ebfa,
    color-primary-200: #93d3f5,
    color-primary-300: #5aace1,
    color-primary-400: #3183c4,
    color-primary-500: #00509e,
    color-primary-600: #003d87,
    color-primary-700: #002e71,
    color-primary-800: #00205b,
    color-primary-900: #00174b,
    color-primary-transparent-100: rgba(0, 80, 158, 0.08),
    color-primary-transparent-200: rgba(0, 80, 158, 0.16),
    color-primary-transparent-300: rgba(0, 80, 158, 0.24),
    color-primary-transparent-400: rgba(0, 80, 158, 0.32),
    color-primary-transparent-500: rgba(0, 80, 158, 0.4),
    color-primary-transparent-600: rgba(0, 80, 158, 0.48),
    color-success-100: #cdf8cf,
    color-success-200: #9df2aa,
    color-success-300: #67d883,
    color-success-400: #3db266,
    color-success-500: #107f42,
    color-success-600: #0b6d41,
    color-success-700: #085b3e,
    color-success-800: #054938,
    color-success-900: #033c34,
    color-success-transparent-100: rgba(16, 127, 66, 0.08),
    color-success-transparent-200: rgba(16, 127, 66, 0.16),
    color-success-transparent-300: rgba(16, 127, 66, 0.24),
    color-success-transparent-400: rgba(16, 127, 66, 0.32),
    color-success-transparent-500: rgba(16, 127, 66, 0.4),
    color-success-transparent-600: rgba(16, 127, 66, 0.48),
    color-info-100: #c8eefa,
    color-info-200: #93d9f6,
    color-info-300: #5bb5e3,
    color-info-400: #328dc9,
    color-info-500: #005ba5,
    color-info-600: #00468d,
    color-info-700: #003476,
    color-info-800: #00255f,
    color-info-900: #001a4f,
    color-info-transparent-100: rgba(0, 91, 165, 0.08),
    color-info-transparent-200: rgba(0, 91, 165, 0.16),
    color-info-transparent-300: rgba(0, 91, 165, 0.24),
    color-info-transparent-400: rgba(0, 91, 165, 0.32),
    color-info-transparent-500: rgba(0, 91, 165, 0.4),
    color-info-transparent-600: rgba(0, 91, 165, 0.48),
    color-warning-100: #fdeecb,
    color-warning-200: #fbd898,
    color-warning-300: #f3b964,
    color-warning-400: #e79a3d,
    color-warning-500: #d86e04,
    color-warning-600: #b95502,
    color-warning-700: #9b3f02,
    color-warning-800: #7d2c01,
    color-warning-900: #671f00,
    color-warning-transparent-100: rgba(216, 110, 4, 0.08),
    color-warning-transparent-200: rgba(216, 110, 4, 0.16),
    color-warning-transparent-300: rgba(216, 110, 4, 0.24),
    color-warning-transparent-400: rgba(216, 110, 4, 0.32),
    color-warning-transparent-500: rgba(216, 110, 4, 0.4),
    color-warning-transparent-600: rgba(216, 110, 4, 0.48),
    color-danger-100: #fbdace,
    color-danger-200: #f8ae9f,
    color-danger-300: #ea776c,
    color-danger-400: #d64648,
    color-danger-500: #bc1425,
    color-danger-600: #a10e2a,
    color-danger-700: #870a2d,
    color-danger-800: #6d062c,
    color-danger-900: #5a032c,
    color-danger-transparent-100: rgba(188, 20, 37, 0.08),
    color-danger-transparent-200: rgba(188, 20, 37, 0.16),
    color-danger-transparent-300: rgba(188, 20, 37, 0.24),
    color-danger-transparent-400: rgba(188, 20, 37, 0.32),
    color-danger-transparent-500: rgba(188, 20, 37, 0.4),
    color-danger-transparent-600: rgba(188, 20, 37, 0.48)
  ),
  htd-theme,
  default
);
